PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/mern_inventory_pro
REDIS_URL=redis://127.0.0.1:6379
JWT_SECRET=super_secret_jwt_key_inventory_pro_2026
NODE_ENV=development
AZURE_TENANT_ID=your-azure-tenant-id-here
AZURE_CLIENT_ID=your-azure-client-id-here
AZURE_CLIENT_SECRET=your-azure-client-secret-here
